$app-bg: #444;
$app-font-color: #efefef;

body {
  background-color: $app-bg;
  color: $app-font-color;
  font-family: 'Helvetica';
  text-align: center;
}

input {
  font-size: 1em;
  border-radius: 1em;
  border: none;
  line-height: 1em;
  -webkit-padding-start: .25em;
}

select {
  line-height: 1em;
  margin: 1em;
  padding-left: .5em;
}

button {
  font-size: 1em;
  border-radius: 1em;
  border: none;
  background-color: #efefef;
  margin-left: .75em;
  margin: .50em;
}

form {
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-basis: auto;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1em;
}
